@model CatalogoITT.Models.Libro
@{
    ViewData["Title"] = "Libro";
}

    <div class="container-libro">
        <h4>@Model.nombre</h4>/@Model.autor <br />
        Por: @Model.autor, Grupo editorial: @Model.editorial, <br />
        @Model.anio_publicacion (P&aacute;ginas @Model.paginas) <br />
        <a asp-action="Detalles" asp-route-id="@Model.libro_id">Details</a> |
    </div>
